@charset "UTF-8";

body{
    background-image: url("../fotos/teste.jpeg");
    background-attachment: fixed;
    background-size: 103%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header#cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 2%;
    margin-bottom: 0px;
    margin-top: -5px;
}

header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 15pt;
    padding-left: 2%;
    margin-top: -20px;
}

header#cabecalho hgroup h1{
    top: -20px;
}

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: -38px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    border-color: #dddddd;
    margin: 2px;
    transition: background-color 1s;
    padding: 10px;
    cursor: pointer;
}

nav#menu ul#LisMenu button{
    padding: 10px;
    font-size: 13pt;
}

nav#menu ul#LisMenu button:hover{
    color: #ffffff;
    text-decoration: underline;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu li:hover{
    color: #ffffff;
    transition: 250ms;
}

img#q4{
    width: 600px;
    height: 400px;
}


img#q5{
    margin-top: 0%;
    margin-left: 35%;
    width: 500px;
    height: 300px;
}

footer#rodape{
    bottom: 0;
    position: fixed;
    width: 99%;
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}

nav#cadastro{
    width: 40%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.field {
    top: 100%;
    width: 50%;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
    border-bottom-color: #ffffff;
}

nav#butaoCadastro {
    width: 400%;
    margin: 120%;
}

#butaoLogin {
    width: 450%;
    margin: 80%;
}

#butaoQuarto {
    width: 50%;
    padding-top: 215%;
    padding-left: 200%;
}

.texto {
    display: table-cell;
    float: left;
    width: 600px;
    margin-top: -2%;
    margin-left: 35%;
    text-align: center;
    font-size: 22px;
    font-family: bold;
    font-style: italic;
}