@charset "UTF-8";

body{
<<<<<<< HEAD
    background-color: #ffffff;
    overflow: hidden;
}

#body{
    background-image: url("../fotos/teste.jpeg");
    background-attachment: fixed;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

footer#cabecalho{
    background-color: #0902ff;
}

footer#cabecalho p2{
    padding-top: 0%;
}

footer#cabecalho2{
    padding-left: 50%;
    font-size: 1em;
    background-color: #ffffff;
}

.fieldCabecalho2{
    margin-left: 10%;
    margin-bottom: 2%;
    border-bottom-color: #ffffff;
    text-align: center;
}

header#meio h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 15pt;
    margin-top: 11%;
    text-align: center;

}

header#meio h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 2%;
    margin-bottom: 0px;
    margin-top: -2%;
    text-align: center;
=======
    background-image: url("../fotos/teste.jpeg");
    background-attachment: fixed;
    background-size: 103%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header#cabecalho h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 2%;
    margin-bottom: 0px;
    margin-top: -5px;
}

header#cabecalho h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 15pt;
    padding-left: 2%;
    margin-top: -20px;
}

header#cabecalho hgroup h1{
    top: -20px;
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
}

nav#menu{
    display: block;
<<<<<<< HEAD
    padding-top: 0%;
=======
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: -38px;
}

nav#menu li{
    display: inline-block;
<<<<<<< HEAD
=======
    background-color: #dddddd;
    border-color: #dddddd;
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
    margin: 2px;
    transition: background-color 1s;
    padding: 10px;
    cursor: pointer;
}

<<<<<<< HEAD
=======
nav#menu ul#LisMenu button{
    padding: 10px;
    font-size: 13pt;
}

nav#menu ul#LisMenu button:hover{
    color: #ffffff;
    text-decoration: underline;
}

>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu li:hover{
<<<<<<< HEAD
    color: #0902ff;
=======
    color: #ffffff;
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
    transition: 250ms;
}

img#q4{
    width: 600px;
    height: 400px;
}

img#q5{
    margin-top: 0%;
    margin-left: 35%;
    width: 500px;
    height: 300px;
}

img#q6{
    width: 300px;
    height: 200px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

footer#rodape{
    bottom: 0;
    position: fixed;
    width: 99%;
<<<<<<< HEAD
    background-color: #0902ff;
=======
    clear: both;
    border-top: 1px solid #606060;
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
}

footer#rodape p{
    text-align: center;
}

nav#cadastro{
<<<<<<< HEAD
    padding-top: 10%;
    width: 40%;
    margin: auto;
=======
    width: 40%;
    margin: auto;
    padding: 10px;
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
    text-align: center;
}

.field {
<<<<<<< HEAD
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
}

nav#butaoCadastro {
    padding-top: 4%;
}

#butaoLogin {
    padding-top: 4%;
=======
    top: 100%;
    width: 50%;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;
    border-bottom-color: #ffffff;
}

nav#butaoCadastro {
    width: 100%;
    margin: 100%;
    padding-left: 80%;
}

#butaoLogin {
    width: 100%;
    margin: 50%;
    padding-left: 80%;
}

#butaoQuartos {
    width: 100%;
    margin: 80%;
    padding-left: 80%;
>>>>>>> 3ceae1359c3138438954af6d5a17c9e62f96534b
}

.texto {
    text-align: center;
    font-size: 22px;
    font-family: bold;
    font-style: italic;
}

l{
    width: 880px;
    list-style: none;
    display: flex;
    margin-left: 3%;
    margin-top: 3%;
    align-items: center;
}

.min{
    width: 150px;
    padding: 30px;
}

.lbox{
    visibility: hidden;
    opacity: 0;
    text: 0;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .6);
    position: fixed;
}

.box_img{
    width: 1000px;
    margin: 150px auto;
}

.btn{
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#prev{
    left: 5%;
    top: 45%;
}

#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 5%;
    right: 8%;
}

.box_img img{
    opacity: 0;
}

.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
}

img#q{
    margin-top: -6%;
    margin-left: -26%;
    width: 1500px;
    height: 750px;
}