@charset "UTF-8";

body{
    background-color: #ffffff;
    /*overflow-x:hidden ;*/
}

.container {
    position: relative;
}

#badyimagem{
    margin-top: 0%;
    margin-left: -8px;
    width: 1920px;
    height: 600px;
    position: absolute;
}

#posicaoTexto {
    position: absolute;
    font-size: 32px;
    left: 30%;
    top: 200px;
}

header#cabecalho{
    background-color: #19213b;
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.p2{
    color: white;
}

.icons{
    width: 15px;
    height: 15px;
    margin-left: 3%;
    margin-right: 2px;
    margin-bottom: -3px;
}


nav#cabe span:not(#nome){
    margin-right: 45%;
}

span#nome{
    margin-left: 2%;
}

.icons3{
    width: 15px;
    height: 15px;
    margin-left: 8px;
}

.icons4{
    width: 35px;
    height: 35px;
    margin-left: 2%;
    margin-bottom: -10px;
}

header#cabecalho2{
    padding-left: 30%;
    background-color: #f7f7f7;
    margin-top: 0%;
    margin-left: -1%;
    margin-right: -1%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

.fieldCabecalho2{
    margin-left: 20%;
    margin-bottom: -10%;
    text-align: center;
    font-size: 100%;
    border-bottom-color: gray;
    border-radius: 8px;
}

#lupa{
    background: url(../icons/lupa.png);
}

.logo{
    width: 200px;
    height: 50px;
    margin-top: 0%;
    margin-left: -45%;
    position: absolute;
}

header#meio h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 15pt;
    margin-top: 11%;
    text-align: center;
}

header#meio h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 2%;
    margin-bottom: 0px;
    margin-top: -2%;
    text-align: center;
}

h3{
    color: white;
    font-size: 40pt;
    margin-top: -1%;
    margin-left: -10%;
}

div#telaFlutuante{
    background-color: #ffffff;
    margin-top: 2%;
    margin-left: -20%;
    margin-right: 10%;
    padding-bottom: 3%;
    box-shadow: 0px 0px 100px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 100px rgba(0,0,0,.8);
    border-radius: 30px;
}

.telaFlutuante{
    padding-top: 1px;
    padding-left: 2%;
}

.telaFlutuante2{
    text-align: center;
    font-size: 60%;
    border-bottom-color: gray;
    border-radius: 8px;
    height: 2px;
}

.caixaIndeix{
    width: 75%;
    padding-right: -2px;
    padding-top: 25px;
    margin-right: -10px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.caixaIndeix2{
    width: 50%;
    padding-right: -2px;
    padding-top: 25px;
    margin-right: -100px;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

div#telaFlutuante h4{
    margin-top: 1%;
    color: #19213b;
}

div#telaFlutuante h5{
    margin-top: -3%;
}

.espaco{
    display: flex;
}



main {
    margin-left: 2px;
}

.flex-centralizado {
    display: flex;
}

nav#menu{
    display: block;
    padding-top: 0%;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    display: inline;
}

nav#menu li{
    display: inline-block;
    margin: 2px;
    transition: background-color 1s;
    padding: 10px;
    cursor: pointer;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu li:hover{
    color: aqua;
    transition: 250ms;
}

img#q4{
    width: 600px;
    height: 400px;
}

img#q5{
    margin-top: 0%;
    margin-left: 35%;
    width: 500px;
    height: 300px;
}

img#q6{
    width: 300px;
    height: 200px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

footer#rodape{
    bottom: 0;
    position: fixed;
    padding-left: 32%;
    padding-right: 35%;
    background-color: #19213b;
}

footer#rodape p{
    text-align: center;
    color: white;
}

nav#cadastro{
    padding-left: 0%;
    padding-top: 2%;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    text-align: center;
    border-radius: 30px;
    background-color: #19213b;
    box-shadow: 0px 0px 1000px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 1000px rgba(0,0,0,.8);
}

.field {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

nav#butaoCadastro {
    padding-top: 2%;
    width: 40%;
    margin: auto;
    text-align: center;
}

.cor{
    color: white;
}

nav#butaoLogin {
    padding-top: 2%;
    width: 40%;
    margin: auto;
    text-align: center;
}

.texto {
    text-align: center;
    font-size: 22px;
    font-family: bold;
    font-style: italic;
}


/* Configurações da Galeria */

body#galeria{
    overflow-y: hidden;
}

l{
    width: 880px;
    list-style: none;
    display: flex;
    margin-left: 20%;
    margin-top: 1%;
}

.min{
    width: 150px;
    padding: 30px;
}

.lbox{
    visibility: hidden;
    opacity: 0;
    font-size: 0;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .6);
    position: fixed;
}

.box_img{
    width: 1000px;
    margin: 150px auto;
}

.btn{
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}

#prev{
    left: 11%;
    top: 45%;
}

#next{
    right: 11%;
    top: 45%;
}

#close{
    top: 13%;
    right: 18%;
}

.box_img img{
    opacity: 0;
}

.lbox:target .box_img img{
    opacity: 1;
    transition: opacity .4s linear;
}

img#x{
    width: 200px;
    height: 100px;
}

img#q{
    margin-top: -6%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
}


/* Configurações do link Contatos */

.TituloContatos {
    
    font-size: 15px;
    font-family: bold;
    margin-top: 3%;
    margin-left: 6%;
    color: #19213b;
}

.SubTituloContatos{
    
    font-size: 20px;
    font-family: bold;
    margin-left: 6%;
    color: #000000;
}

.BotNome {
    top: 100%;
    width: 30%;
    
    margin-bottom: 30px;
    margin-left: 50%;
    margin-inline-start: 90px;
    
    font-size: 1em;
    padding: 5px;
    border-bottom-color: gray;
}

.BotE-mail {
    top: 100%;
    width: 30%;
    
    margin-bottom: 30px;
    margin-left: 50%;
    margin-inline-start: 10px;
    
    font-size: 1em;
    padding: 5px;
    padding-right: 1%;
    border-bottom-color: gray;
}

.BotTexto {
    top: 100%;
    width: 62%;
    
    margin-inline-start: 90px;
    font-size: 1em;

    padding: 3px;
    padding-bottom: 140px;
    padding-right: 1%;
    border-bottom-color: gray;
}

.BotaoEnviar{
    width: 4%;
    margin-inline-start: 65%;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-weight: 1000;
    background-color: darkgrey;
    
}

/* Configurações do link Sobre */

.textoSobre {
    float: left;
    max-width: 500px;
    margin-left: 6%;

    font-size: 22px;
    font-family: bold;
    font-style: italic;
}

img#q9{
    float: right;
    margin-left: 1%;
    margin-right: 15%;
    margin-bottom: 1%;

    width: 250px;
    height: 150px;
    
}

img#q10{
    float: right;
    margin-bottom: 1%;

    width: 250px;
    height: 150px;
}

img#q11{
    float: right;
    margin-right: 15%;

    width: 513px;
    height: 180px;
}

/* Configurações do link quartos */

#telaQuartos{
    font-size: 15px;
    font-family: bold;
    margin-top: 3%;
    margin-left: 6%;
    
}
#cor{
    color: #19213b;
}

.quarto{
    float: left;
    width: 50%;
    height: 50%;
}

.info{
    margin-left: 55%;
}

.aux{
    margin-top: 4%;
}

.detalhes{
    font-size: 30px;
    font-family: bold;
    color: aqua;
}

#left {
  float:left;
  width:250px;
}
#teste {
  width:1000px;
  margin-left:5px;
  margin-top:5px;
  margin-bottom: 50%;
  float:left;
  padding: 4px;
}
#teste1 {
  width:1000px;
  margin-left:5px;
  margin-top:5px;
  margin-bottom: 90px;
  float:left;
  padding: 4px;
}

/* login*/

input#enviar{
    padding: 2%;
    font-size: 18px;
    background-color: #ffffff;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 12px black;
    color: #19213b;
    cursor: pointer;
    transition: 500ms;
}

input#enviar:hover{
    background-color: #0a9916;
    color: #ffffff;
    transition: 500ms;
}

nav#cadastro span{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
}

nav#cadastro input#txtNome,input#txtNascimento,input#txtContato{
    margin-bottom: 0px;
}
