@charset "UTF-8";

body{
    background-image: url("../fotos/teste.jpeg");
    background-attachment: fixed;
    background-size: 103%;
    background-repeat: no-repeat;
    overflow: hidden;
}

nav#menu{
    display: block;
}

header#cabecalho h1{
    text-align: center;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: -38px;
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    border-color: #dddddd;
    margin: 2px;
    transition: background-color 1s;
    padding: 10px;
    cursor: pointer;
}

nav#menu ul#LisMenu button{
    padding: 10px;
    font-size: 13pt;
}

nav#menu ul#LisMenu button:hover{
    color: #ffffff;
    text-decoration: underline;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu li:hover{
    color: #ffffff;
    transition: 250ms;
}

img#q6{
    width: 300px;
    height: 200px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

footer#rodape{
    bottom: 0;
    position: fixed;
    width: 99%;
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}